<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrz.iheartaudio.dao.UserDao">
    <select id="getUserById" resultType="User">
        SELECT id,user_name,password FROM user WHERE id = #{id};
    </select>
    <select id="getUserByUserName" resultType="User">
        SELECT id,user_name,password,name,gender,city,mail_num,phone,e_mail,address FROM user WHERE user_name = #{user_name};
    </select>
    <select id="getAllUser" resultType="User">
        select id,user_name,password,name from user
    </select>
    <insert id="register">
        insert into user(id,user_name,password) values(#{id},#{user_name},#{password})
    </insert>
    <select id="getProduct" resultType="Product">
        select id,name,type,price,place,singer,producer,date,description FROM product WHERE id = #{id};
    </select>
    <insert id="submitOrder">
        insert into myorder(product_id,quantity,price,user_name,mysum,mydate,address,status,product_name) values(#{product_id},#{quantity},#{price},#{user_name},#{mysum},#{mydate},#{address},#{status},#{product_name})
    </insert>
    <select id="getOrderById" resultType="Order">
        select order_id,product_id,quantity,price,user_name,mysum,mydate,address,status,product_name FROM myorder WHERE order_id = #{order_id};
    </select>
    <select id="getOrderByUserName" resultType="Order">
        select * FROM myorder WHERE user_name = #{user_name};
    </select>
    <select id="getAllOrder" resultType="Order">
        select * FROM myorder;
    </select>
    <update id="modifyUserInfo">
        update user set name = #{name}, gender = #{gender}, city = #{city}, address = #{address}, mail_num = #{mail_num}, phone = #{phone}, e_mail = #{e_mail} where user_name = #{user_name}
    </update>
    <update id="modifyOrder">
        update myorder set address = #{address} where order_id = #{order_id}
    </update>
    <update id="modifyProduct">
        update product
        set name = #{name},
        price = #{price},
        place = #{place},
        type = #{type},
        producer = #{producer},
        singer = #{singer},
        date = #{date} where id = #{id}
    </update>
    <update id="sendPro">
        update myorder set status = "已发货" where order_id = #{order_id}
    </update>
</mapper>